@import "~antd/dist/antd.css";

.cell {
  border: 1px solid black;
  height: 15vh;
  font-size: calc(1vw + 1vh);
  word-wrap: break-word;
  text-align: center;
}
.middle-cell {
  background: lightblue;
}
.text-center {
  text-align: center;
}
